html
    head
        include head
    body
        .page-wrapper.bg-gra-02.p-t-130.p-b-100.font-poppins
            .wrapper.wrapper--w680
                .card.card-4
                    .card-body
                        h2.title Login
                        form(method='POST')
                            .row.row-space
                                .col-2
                                    .input-group
                                        label.label Email
                                        input.input--style-4(type='email', name='email')
                                .col-2
                                    .input-group
                                        label.label Password
                                        input.input--style-4(type='password', name='password')
                            .p-t-15
                                button.btn.btn--radius-2.btn--blue(type='submit') Submit
                            .input-group
                                label.label Belum punya akun ?
                                a(href="/Registrasi") Daftar Disini
        // Jquery JS
        script(src='loginaset/vendor/jquery/jquery.min.js')
        // Vendor JS
        script(src='loginaset/vendor/select2/select2.min.js')
        script(src='loginaset/vendor/datepicker/moment.min.js')
        script(src='loginaset/vendor/datepicker/daterangepicker.js')
        // Main JS
        script(src='js/global.js')
